body {
  max-width: 512px;
  margin: 0 auto;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: lightgray;
}

.drop-target-row {
  display: flex;
}

.drop-target {
  width: 40px;
  height: 40px;
  padding: 0;
  border: 1px solid #aaa;
  background-color: white;
}

.container-main {
  display: flex;
}

.container-drag {
  width: 42px;
}

.drag {
  width: 32px;
  height: 32px;
  padding: 4px;
  border: 1px solid #aaa;
  animation-name: appear;
  animation-duration: 1s;
}

@keyframes appear {
  0% { opacity: 0.5; }
  100% { opacity: 1; }
}

.blue {
  background-color: blue;
}

.red {
  background-color: red;
}
