body {
  max-width: 512px;
  margin: 0 auto;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: lightgray;
}

.hide {
  display: none;
}

.header {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.header-descr {
  margin: 12px 0 0 0;
}

.header-settings-open {
  text-decoration: none;
  color: #3e3e3e;
  margin: 24px 20px 0 0;
  font-size: 20px;
}

.header-settings-open:hover {
  color: blue;
}

.popup-settings-close {
  text-decoration: none;
  color: #3e3e3e;
  margin: 8px 0 0 8px;
  font-size: 20px;
}

.popup-settings-save {
  text-decoration: none;
  color: #3e3e3e;
  margin: 8px 0 0 8px;
  font-size: 20px;
}

.drop-target-row {
  display: flex;
}

.drop-target {
  width: 40px;
  height: 40px;
  padding: 0;
  border: 1px solid #aaa;
  background-color: white;
}

.container-btn {
  display: flex;
  margin-left: 42px;
}

.container-main {
  display: flex;
}

.container-drag {
  width: 42px;
}

.container-drag.team1 {
  width: 84px;
}

.container-drag.team2 {
  margin-left: 42px;
}

.drag {
  width: 32px;
  height: 32px;
  padding: 4px;
  border: 1px solid #aaa;
  animation-name: appear;
  animation-duration: 1s;
}

@keyframes appear {
  0% { opacity: 0.5; }
  100% { opacity: 1; }
}

.colorTeam2 {
  background-color: blue;
}

.colorTeam1 {
  background-color: green;
}

.activated {
  color: red;
}
